.site-header {
  height: 5rem;
  padding: 1rem;
  position: relative;
  border-top: none;
}

nav {
  margin: auto 0 auto 0;
}

.logo-header {
  max-height: 100px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
}

.site-header .wrapper {
  height: 100%;
  padding-top: 1rem;
  max-width: 80%;
}

.current{
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: rgba(239, 56, 50, 1) 1px solid;
}

.site-header .page-link {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: rgba(239, 56, 50, 0) 1px solid;
  transition: border-color 1s linear;
  -moz-transition: border-color 1s linear;    /* FF3.7+ */
  -o-transition: border-color 1s linear;      /* Opera 10.5 */
  -webkit-transition: border-color .5s linear;
}

.site-header .page-link:hover {
  border-bottom-color: rgba(239, 56, 50, 1);
}

.site-nav .page-link:not(:last-child) {
  margin-right: 52px;
}

