.site-header {
  height: 5rem;
  padding: 1rem;
  position: relative;
  border-top: none;
}

nav {
  margin: auto 0 auto 0;
}

.logo-header {
  max-height: 100px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  margin: auto;
}

