<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <div class="home">
            <div class="site-header">
                <img class="header-logo" alt="logo">
                <ul class="site-nav">
                    <li>Give a talk</li>
                    <li>Sponsorship</li>
                    <li>Speaker deck</li>
                    <li>Évènements</li>
                    <li>Slack</li>
                </ul>
            </div>
        
            <div class="next-meeting">
                <div class="next-meeting-infos">
                    <p>Prochain meeting !</p>
                    <ul>
                        <li>14 <small>Jours</small></li>
                        <li>01 <small>Heures</small></li>
                        <li>10 <small>Minutes</small></li>
                        <li>57 <small>Secondes</small></li>
                    </ul>
                </div>
            </div>
        
            <div class="team">
                <p>Notre équipe</p>
                <div class="team-list">
                    <div class="team-member">
                        <img src="photo.png" alt="photo">
                        <p>Xavier Chrétien</p>
                        <p>Génie logiciel</p>
                        <p>Rôle</p>
                    </div>
                    <div class="team-member">
                        <img src="photo.png" alt="photo">
                        <p>Xavier Chrétien</p>
                        <p>Génie logiciel</p>
                        <p>Rôle</p>
                    </div>
                    <div class="team-instagram"></div>
                    <div class="team-member">
                        <img src="photo.png" alt="photo">
                        <p>Xavier Chrétien</p>
                        <p>Génie logiciel</p>
                        <p>Rôle</p>
                    </div>
                    <div class="team-member">
                        <img src="photo.png" alt="photo">
                        <p>Xavier Chrétien</p>
                        <p>Génie logiciel</p>
                        <p>Rôle</p>
                    </div>
                </div>
            </div>
        
            <div class="events">
        
            </div>
        
            <div class="slack">
        
            </div>
        
            <div class="articles">
        
            </div>
        
            <div class="site-footer">
                <p>Restez à la pointe de l'information avec notre infolettre</p>
        
                <form>
                    <input type="text" placeholder="Votre génie">
                    <input type="text" placeholder="Courriel">
                    <input type="submit" value="Envoyer">
                </form>
        
                <p>Réseaux sociaux</p>
        
                <p>© 2019 - fdhjds - tous droits réservés</p>
                <p>dfdsdfdsdfds@gmail.com</p>
            </div>
        
        </div>
    </body>
</html>



    <!--{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}-->